.boxA {
  width: 100%;
  position: relative;
}
.boxA img {
  position: absolute;
  top: 13px;
  left: 55px;
}
.boxA a {
  margin: auto auto auto 7px;
  text-align: center;
  text-decoration: none;
  display: block;
  color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  padding: 0.7em 1em;
  
  width: 249px;
  background: rgb(255, 136, 31);
  background: linear-gradient(261deg, rgba(250,100,30,1) 0%, rgba(255,136,31,1) 100%);
  border-radius: 15px;
  box-sizing: content-box;
}
